#heroMenu {
    background: #cad086 repeat center center fixed;
    margin: 0 14em;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 3em;
    padding-bottom: 2em;
}

h2 {
    padding-top: 0.5em;
    font-size: 4rem;
}


.dishContainers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
    
}

.itemPicture {
    height: 10em;
    width: 10em;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;

}

.itemContainer {
    display: flex;
}

.itemName {
    font-weight: bold;
    font-size: 2rem;
    width: 5em;
    height: auto;
}

.itemPrice {
    font-size: 1.6rem;
}