/* Universal stuff and header*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html { 
    background: url(/components/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

header {
    padding: 0 2em;
    width: 100%;
    height: 20vh;
    background: #8e935d;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#left {
    display: flex;
    flex-direction: row;
    gap: .9em;
    align-items: center;
}

#right {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
    justify-content: end;
}

div#right > a {
    text-decoration: none;
    color: black;
    font-size: 3.5rem;
}



div#right > a:hover {
    color: #CD534C
}

#logo {
    border-radius: 50%;
    width: 10em;
    height: auto;
}

div#left > a {
    text-decoration: none;
    color: #bb0d02;
    font-weight: bolder;
    font-size: 4rem;
}

/*Universal stuff and header ends*/

#hero {
    background: #cad086 no-repeat center center fixed;
    margin: 0 14em;
    height: 80vh;
}

div#hero > img {
    width: 10em;
    height: 10em;
    border-radius: 50%;
}